
<style>

  .dropdown-scroll {
    overflow: auto;
    height: 90px;
  }
  .mypanel {
    max-width: 400px;
    margin-top:15px;
  }

.wrap-dd-select {
text-align: center;
/* align-self: center; */
position: relative;
width: 200px;
height: 30px;
margin: auto;
padding: 0;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background: #fff;
border-radius: 0px;
border: 1px solid rgba(0,0,0,0.15);
box-shadow: 0 1px 1px rgba(50,50,50,0.1);
cursor: pointer;
outline: none;
font-weight: bold;
color: #8AA8BD;
}
</style>

<div>

  <div style="width:250px;margin-left:100px;background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
    <span ng-if="doing_async">...loading...</span>
    <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Granny Smith"></abn-tree>
  </div>

  <p>You have selected: {{ddSelectSelected}}</p>

  <!--div class="form-group col-sm-10">
    <h2>Split Buttons</h2>

      <div class = "row input-group">
        <span class = "input-group-addon">@</span>
        <div class="col-sm-3" dropdown-select="ddSelectOptions" dropdown-model="ddSelectSelected" > <input type = "text" class = "form-control" placeholder = "Twitterhandle"> </div>
        <input class="col-sm-3" type = "text" class = "form-control" placeholder = "Twitterhandle">
      </div>
  </div-->

  <div class="btn-group" ng-init="class='btn btn-success'; no_class='btn btn-default'">
    <button type="button" ng-class="class" ng-click="pr_class = class; class = no_class; no_class = pr_class">По объекту</button>
    <button type="button" ng-class="no_class" ng-click="pr_class = class; class = no_class; no_class = pr_class">По субъекту</button>
  </div>


  <div class="container">
    <div class="panel panel-default mypanel">
      <div class="panel-heading">
        <h3 class="panel-title">Choose a Service Level</h3>
      </div>
      <div class="panel-body">
        <form class="form">
          <bootstrap-dropdown data-field-label="Level" data-ng-model="form.serviceLevelName" data-placeholder="Service Level" data-dropdown-data="servicesData"></bootstrap-dropdown>

        </form>
        <pre>Chosen Value : {{form.serviceLevelName}}</pre>
      </div>
    </div>

  </div>


</div>
