<!DOCTYPE html>
<html>
<head>
  <title></title>

  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2014.1.318/styles/kendo.common.min.css" />
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2014.1.318/styles/kendo.default.min.css" />

  <script src="https://kendo.cdn.telerik.com/2014.1.318/js/jquery.min.js"></script>

  <script src="https://kendo.cdn.telerik.com/2014.1.318/js/kendo.all.min.js"></script>

</head>
<body>

<div class="container">
  <h2>Dynamic Tabs</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>


<div id="window"></div>

<span id="undo" class="k-button">Click here to open the window.</span>
<span id="thecontent" class="k-button">Click here to Add content</span>

<script>
  $(document).ready(function () {

    var mywindow = $("#window"),
      thecontent = $("#thecontent"),
      undo = $("#undo");

    undo.bind("click", function () {
      mywindow.data("kendoWindow").open();
      //undo.hide();
    }); // END UNDO

    thecontent.bind("click", function () {
      mywindow.data("kendoWindow").refresh("http://localhost:9000/#/main");
      //thecontent.hide();
    }); // END thecontent


    //
    if (!mywindow.data("kendoWindow")) {
      mywindow.kendoWindow({

        width: "1300px",
        height: "500px",
        modal: true,
        actions: ["Custom", "Minimize", "Maximize", "Close"],
        title: "Addresses",
        iframe: true,
        visible: false,
        content: "http://localhost:9000/#/main",
        close: function () {
          mywindow.data("kendoWindow").title("Addresses");
          //this.destroy();
        },
        custom: function () {
          undo.hide();
        }
      });
    }
    //


  });     // End Ready
</script>


</body>
</html>
